<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragments/adminlayout :: adminlayout (~{::body},'EventUpdate')}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Update</title>
</head>

<body>
    <h1 class="PlayerProfile d-flex justify-content-center mb-20" style="font-weight: bold;">EVENT UPDATE</h1>
    <!----------------------- Main Container -------------------------->
    <div class="container d-flex justify-content-center align-items-center min-vh-15">
        <!----------------------- Login Container -------------------------->
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <!--------------------------- Left Box ----------------------------->
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column right-box"
                style="background: #ffffff;">
                <div class="header-text mb-3 align-items-center" style="padding-top: 0.5rem;">
                    <h4>Current Image</h4>
                </div>
                <div class="featured-image mb-3">
                    <img th:src="${EventUpdate.eventDetail.edimage}" alt="Event Image" class="img-fluid"
                        style="width: 600px;">
                </div>
            </div>

            <!-------------------- ------ Right Box ---------------------------->

            <div class="col-md-6 left-box">
                <div class="row align-items-center">
                    <div class="header-text mb-3 align-items-center" style="padding-top: 0.5rem;">
                        <h4>Update Event!</h4>
                    </div>
                    <form method="post" th:action="@{/EventUpdate}" th:modelAttribute="EventUpdate"
                        th:object="${EventUpdate}" enctype="multipart/form-data">
                        <input type="hidden" name="eventid" th:value="${EventUpdate.eventid}" />
                        <input type="hidden" name="edid" th:value="${EventUpdate.eventDetail.edid}" />
                        <div class="form-floating g-2 mb-3">
                            <input type="text" name="eventname"
                                class="form-control form-control-lg bg-light fs-6 text-uppercase"
                                placeholder="Event Name" readonly th:value="${EventUpdate.eventname}"
                                oninput="this.value = this.value.toUpperCase()">
                            <label for="floatingInputGrid">Event Name</label>
                        </div>
                        <div class="row g-2 mb-3">
                            <div class="col-md">
                                <div class="form-floating bg-light">
                                    <input type="number" class="form-control bg-light fs-6" id="floatingInputGrid"
                                        placeholder="Player/Team Capacity" name="edcapacity" required
                                        th:value="${EventUpdate.eventDetail.edcapacity}">
                                    <label for="floatingInputGrid">Player/Team Capacity</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <select class="form-select bg-light fs-6" id="floatingSelectGrid"
                                        placeholder="Event Type" name="edtype" required
                                        th:value="${EventUpdate.eventDetail.edtype}">
                                        <option disabled>Event Type</option>
                                        <option value="INDIVIDUAL">INDIVIDUAL</option>
                                        <option value="TEAM">TEAM</option>
                                    </select>
                                    <label for="floatingInputGrid">Event Type</label>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2 mb-3">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control bg-light fs-6 text-uppercase"
                                        id="floatingInputGrid" placeholder="event venue" name="edvenue" required
                                        th:value="${EventUpdate.eventDetail.edvenue}"
                                        oninput="this.value = this.value.toUpperCase()">
                                    <label for="floatingInputGrid">Event Venue</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <select class="form-select bg-light fs-6" id="floatingSelectGrid"
                                        placeholder="Event State" name="edstate" required
                                        th:value="${EventUpdate.eventDetail.edstate}">
                                        <option disabled>States</option>
                                        <option value="JOHOR">JOHOR</option>
                                        <option value="KEDAH">KEDAH</option>
                                        <option value="KELANTAN">KELANTAN</option>
                                        <option value="MELAKA">MELAKA</option>
                                        <option value="NEGERI SEMBILAN">NEGERI SEMBILAN</option>
                                        <option value="PAHANG">PAHANG</option>
                                        <option value="PERAK">PERAK</option>
                                        <option value="PERLIS">PERLIS</option>
                                        <option value="PULAU PINANG">PULAU PINANG</option>
                                        <option value="SABAH">SABAH</option>
                                        <option value="SARAWAK">SARAWAK</option>
                                        <option value="SELANGOR">SELANGOR</option>
                                        <option value="TERENGGANU">TERENGGANU</option>
                                        <option value="WILAYAH PERSEKUTUAN (KUALA LUMPUR)">WILAYAH PERSEKUTUAN (KUALA
                                            LUMPUR)</option>
                                        <option value="WILAYAH PERSEKUTUAN (LABUAN)">WILAYAH PERSEKUTUAN (LABUAN)
                                        </option>
                                        <option value="WILAYAH PERSEKUTUAN (PUTRAJAYA)">WILAYAH PERSEKUTUAN (PUTRAJAYA)
                                        </option>
                                    </select>
                                    <label for="floatingInputGrid">Event States</label>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2 mb-3">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="date" class="form-control bg-light fs-6" id="floatingInputGrid"
                                        placeholder="DD/MM/YYYY" name="eddate" required
                                        th:value="${EventUpdate.eventDetail.eddate}">
                                    <label for="floatingInputGrid">Event Date</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="date" class="form-control bg-light fs-6" id="floatingInputGrid"
                                        placeholder="DD/MM/YYYY" name="edlastdate"
                                        th:value="${EventUpdate.eventDetail.edlastdate}">
                                    <label for="floatingInputGrid">Last Registration Date</label>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2 mb-3">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="number" class="form-control bg-light fs-6" id="floatingInputGrid"
                                        placeholder="Event stats" name="edstats"
                                        th:value="${EventUpdate.eventDetail.edstats}">
                                    <label for="floatingInputGrid">Minimum stats (%)</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="file" class="form-control bg-light fs-6" name="edimgs"
                                        id="floatingInputGrid" accept="image/jpeg" placeholder="Image.jpeg">
                                    <label for="floatingInputGrid">New Event Image (Optional)</label>
                                </div>
                            </div>
                        </div>
                        <div class=" mb-3 justify-content-center d-grid gap-2 col-6 mx-auto">
                            <button id="btncreate" type="submit"
                                class="btn btn-lg btn-primary d-flex align-items-center"><span
                                    class="material-symbols-outlined">
                                    edit_square
                                </span> Save Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>