<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragments/playerlayout :: playerlayout (~{::body},'PEventDetail')}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div>
        <h2 class="text-center" th:text="${event[0].eventname} + ' DETAIL'" style="font-weight: bold;"></h2>
    </div>
    <div class="d-flex justify-content-center">
        <img class="rounded img-thumbnail mx-auto" th:src="${event[0].eventDetail.edimage}" alt="Event Image"
            style="max-width: 100%; height: 400px;">
    </div>

    <div class="d-flex justify-content-center text-center m-4">
        <table class="table table-bordered border-dark image-table">
            <thead class="table-info border-dark">
                <tr>
                    <th>DETAIL ID</th>
                    <th>EVENT TYPE</th>
                    <th>PARTICIPANT/TEAM CAPACITY</th>
                    <th>EVENT VENUE</th>
                    <th>EVENT STATE</th>
                    <th>EVENT DATE</th>
                    <th>LAST REGISTRATION DATE</th>
                    <th>MINIMUM STATISTIC (%)</th>
                    <th>EVENT STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="event : ${event}">
                    <td th:text="${event.eventDetail.edid}"></td>
                    <td th:text="${event.eventDetail.edtype}"></td>
                    <td th:text="${event.eventDetail.edcapacity}"></td>
                    <td th:text="${event.eventDetail.edvenue}"></td>
                    <td th:text="${event.eventDetail.edstate}"></td>
                    <td th:text="${event.eventDetail.eddate}"></td>
                    <td th:text="${event.eventDetail.edlastdate}"></td>
                    <td th:text="${event.eventDetail.edstats}"></td>
                    <td th:text="${event.eventDetail.edstatus}"></td>
                    <td>
                        <div class="d-grid gap-2">
                            <button
                                th:if="${event.eventDetail.edstatus != 'CANCELLED' && event.eventDetail.edtype == 'INDIVIDUAL' && event.eventDetail.edstatus != 'CLOSE'}"
                                class="btn btn-primary register-individual-btn" type="button" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" th:attr="data-eventname=${event.eventname}, data-edid=${event.eventDetail.edid}, data-edtype=${event.eventDetail.edtype}, 
                                        data-playername=${player.playername}, data-playerstats=${player.playerstats}"
                                style="display: inline-flex; align-items: center;"><span
                                    class="material-symbols-outlined">
                                    edit_note
                                </span>
                                Register Event
                            </button>
                            <form
                                th:if="${event.eventDetail.edstatus != 'CANCELLED' && event.eventDetail.edtype == 'TEAM' && event.eventDetail.edstatus != 'CLOSE'}"
                                th:action="@{/TEventRegister}" method="get">
                                <input type="hidden" name="edid" th:value="${event.eventDetail.edid}" />
                                <button class="btn btn-primary" type="submit"
                                    style="display: inline-flex; align-items: center;"> <span
                                        class="material-symbols-outlined">
                                        edit_note
                                    </span>Register Event</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal for Individual Event Registration -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">REGISTER EVENT</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/IEventRegister}" th:modelAttribute="IEventRegister"
                        th:object="${IEventRegister}">
                        <!-- <input type="hidden" name="eventname"> -->
                        <input type="hidden" name="edid">
                        <input type="hidden" name="playerid" th:value="${player.playerid}">
                        <div class="form-floating g-2 mb-3">
                            <input type="text" name="eventname"
                                class="form-control form-control-lg bg-light fs-6 text-uppercase"
                                placeholder="Event Name" readonly>
                            <label for="floatingInputGrid">Event Name</label>
                        </div>
                        <div class="form-floating g-2 mb-3">
                            <input type="text" name="playername"
                                class="form-control form-control-lg bg-light fs-6 text-uppercase"
                                placeholder="Player Name" readonly>
                            <label for="floatingInputGrid">Player Name</label>
                        </div>
                        <div class="row g-2 mb-3">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" name="edtype"
                                        class="form-control form-control-lg bg-light fs-6 text-uppercase"
                                        placeholder="Event Type" readonly>
                                    <label for="floatingInputGrid">Event Type</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="number" class="form-control form-control-lg bg-light fs-6"
                                        id="floatingInputGrid" placeholder="Player Stats" name="playerstats" readonly>
                                    <label for="floatingInputGrid">Player stats (%)</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="btncreate" type="submit" class="btn btn-primary d-flex align-items-center">
                                <span class="material-symbols-outlined">edit_square</span> Register Event
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var registerButtons = document.querySelectorAll('.register-individual-btn');
            var modal = document.getElementById('staticBackdrop');

            registerButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var eventname = button.getAttribute('data-eventname');
                    var edid = button.getAttribute('data-edid');
                    var edtype = button.getAttribute('data-edtype');
                    var playername = button.getAttribute('data-playername');
                    var playerstats = button.getAttribute('data-playerstats');

                    modal.querySelector('input[name="eventname"]').value = eventname;
                    modal.querySelector('input[name="edid"]').value = edid;
                    modal.querySelector('input[name="edtype"]').value = edtype;
                    modal.querySelector('input[name="playername"]').value = playername;
                    modal.querySelector('input[name="playerstats"]').value = playerstats;
                });
            });
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <footer class="d-flex justify-content-center">
        <p>&copy; <span id="currentYear"></span> UltimateNav: Frisbee Event Discovery System. All rights reserved.</p>
    </footer>
    <script>document.getElementById('currentYear').textContent = new Date().getFullYear();</script>
</body>

</html>