<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/playerlayout :: playerlayout (~{::body},'PEventDetail')}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div>
        <h2 class="text-center" th:text="${event[0].eventname} + ' DETAIL'"></h2>
    </div>
    <div class="d-flex justify-content-center">
        <img class="rounded img-thumbnail mx-auto" th:src="${event[0].eventDetail.edimage}" alt="Event Image" style="max-width: 100%; height: 400px;">
    </div>

    <div class="d-flex justify-content-center text-center m-4">
        <table class="table table-bordered border-dark image-table">
            <thead class="table-info border-dark">
                <tr>
                    <th>Detail ID</th>
                    <th>Event Type</th>
                    <th>Participant/Team Capacity</th>
                    <th>Event Venue</th>
                    <th>Event State</th>
                    <th>Event Date</th>
                    <th>Last Registration</th>
                    <th>Minimum Stats (%)</th>
                    <th>Event Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="event : ${event}" th:action="@{/CancelEvent}" method="post">
                    <td th:text="${event.eventDetail.edid}"></td>
                    <td th:text="${event.eventDetail.edtype}"></td>
                    <td th:text="${event.eventDetail.edcapacity}"></td>
                    <td th:text="${event.eventDetail.edvenue}"></td>
                    <td th:text="${event.eventDetail.edstate}"></td>
                    <td th:text="${event.eventDetail.eddate}"></td>
                    <td th:text="${event.eventDetail.edlastdate}"></td>
                    <td th:text="${event.eventDetail.edstats}"></td>
                    <td th:text="${event.eventDetail.edstatus}"></td>
                    <td>
                        <div class="d-grid gap-2">
                            <a th:if="${event.eventDetail.edstatus != 'CANCELLED' && event.eventDetail.edtype == 'INDIVIDUAL' && event.eventDetail.edstatus != 'CLOSE'}">
                                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Register Event</button>
                            </a>
                            <form th:if="${event.eventDetail.edstatus != 'CANCELLED' && event.eventDetail.edtype == 'TEAM' && event.eventDetail.edstatus != 'CLOSE'}" th:action="@{/TEventRegister}" method="get">
                                <input type="hidden" name="edid" th:value="${event.eventDetail.edid}" />
                                <button class="btn btn-primary" type="submit">Register Event</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal for Individual Event Registration -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">REGISTER EVENT</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" th:action="@{/IEventRegister}" th:modelAttribute="IEventRegister" th:object="${IEventRegister}">
                        <input type="hidden" name="eventname" th:value="${event[0].eventname}">
                        <input type="hidden" name="edid" th:value="${event[0].eventDetail.edid}">
                        <input type="hidden" name="playerid" th:value="${player.playerid}">
                        <div class="form-floating g-2 mb-3">
                            <input type="text" name="eventname" class="form-control form-control-lg bg-light fs-6 text-uppercase" placeholder="Event Name" th:value="${event[0].eventname}" readonly>
                            <label for="floatingInputGrid">Event Name</label>
                        </div>
                        <div class="form-floating g-2 mb-3">
                            <input type="text" name="playername" class="form-control form-control-lg bg-light fs-6 text-uppercase" placeholder="Player Name" th:value="${player.playername}" readonly>
                            <label for="floatingInputGrid">Player Name</label>
                        </div>
                        <div class="row g-2 mb-3">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" name="edtype" class="form-control form-control-lg bg-light fs-6 text-uppercase" placeholder="PEvent Type" th:value="${event[0].eventDetail.edtype}" readonly>
                                    <label for="floatingInputGrid">Event Type</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="number" class="form-control form-control-lg bg-light fs-6" id="floatingInputGrid" placeholder="Player Stats" name="playerstats" th:value="${player.playerstats}" readonly>
                                    <label for="floatingInputGrid">Player stats (%)</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="btncreate" type="submit" class="btn btn-primary d-flex align-items-center">
                                <span class="material-symbols-outlined">edit_square</span> Register Event
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    
</body>

</html>
