<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/playerlayout :: playerlayout (~{::body},'PlayerEventCalendar')}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UltimateNav</title>
</head>

<body>
  <h2 class="text-center flex-grow-1 mb-2" style="font-weight: bold;">UPCOMING EVENT</h2>
  <h2 class="text-center flex-grow-1 " style="font-weight: bold;" th:text="${monthYear}">UPCOMING EVENT</h2>
  <form class="row  align-items-center justify-content-center m-5" method="get" th:action="@{/FilterEvent}"
    th:modelAttribute="FilterEvent" th:object="${FilterEvent}">
    <div class="col-auto">
      <div class="form-floating">
        <select class="form-select fs-6" id="floatingSelectGrid" placeholder="Event Type" name="edtype">
          <option selected disabled>Event Type</option>
          <option value="INDIVIDUAL">INDIVIDUAL</option>
          <option value="TEAM">TEAM</option>
        </select>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-floating">
        <input type="date" class="form-control fs-6" id="date" placeholder="YYYY-MM-DD"
          name="startdate">
        <label for="floatingInputGrid">Event Date (From)</label>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-floating">
        <input type="date" class="form-control fs-6" id="date" placeholder="YYYY-MM-DD" 
          name="enddate">
        <label for="floatingInputGrid">Event Date (To)</label>
      </div>
    </div>
    </div>
    <div class="col-auto">
      <div class="form-floating">
        <input type="number" class="form-control fs-6" id="floatingInputGrid" placeholder="Event stats"
          name="edstats">
        <label for="floatingInputGrid">Minimum statistics (%)</label>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-floating">
        <select class="form-select fs-6" id="floatingSelectGrid" placeholder="Event State" name="edstate">
          <option selected disabled>States</option>
          <option value="JOHOR">JOHOR</option>
          <option value="KEDAH">KEDAH</option>
          <option value="KELANTAN">KELANTAN</option>
          <option value="MELAKA">MELAKA</option>
          <option value="NEGERI SEMBILAN">NEGERI SEMBILAN</option>
          <option value="PAHANG">PAHANG</option>
          <option value="PERAK">PERAK</option>
          <option value="PERLIS">PERLIS</option>
          <option value="PULAU PINANG">PULAU PINANG</option>
          <option value="SABAH">SABAH</option>
          <option value="SARAWAK">SARAWAK</option>
          <option value="SELANGOR">SELANGOR</option>
          <option value="TERENGGANU">TERENGGANU</option>
          <option value="WILAYAH PERSEKUTUAN (KUALA LUMPUR)">WILAYAH PERSEKUTUAN (KUALA
            LUMPUR)</option>
          <option value="WILAYAH PERSEKUTUAN (LABUAN)">WILAYAH PERSEKUTUAN (LABUAN)
          </option>
          <option value="WILAYAH PERSEKUTUAN (PUTRAJAYA)">WILAYAH PERSEKUTUAN (PUTRAJAYA)
          </option>
        </select>
      </div>
    </div>
    <div class="row g-2 mb-3">
      <div class="input-group">
        <input id="EventSearchInput" name="searchValue" type="text" class="form-control" placeholder="Search Event Name"
          aria-label="Search Event You Wanted" aria-describedby="basic-addon2"
          oninput="this.value = this.value.toUpperCase()">
      </div>
    </div>
    <div class="row mb-3">
      <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-center"><span class="material-symbols-outlined">
          tune
        </span> FILTER</button>
    </div>
  </form>
  <div class="d-flex justify-content-between align-items-center" style="font-weight: bold;">
    <button type="button" class="btn btn-primary m-4" id="previousButton" onclick="navigateMonth(-1)" style="display: flex; align-items: center;">PREVIOUS</button>

    <button type="button" class="btn btn-primary m-4 d-none d-md-block ms-auto" onclick="navigateMonth(1)" style="display: flex; align-items: center;">
      NEXT</button>
  </div>

  <div class="d-flex justify-content-center text-center m-4">
    <table class="table table-bordered border-dark image-table">
      <thead class="table-info border-dark">
        <tr>
          <th class="w-14">SUNDAY</th>
          <th class="w-14">MONDAY</th>
          <th class="w-14">TUESDAY</th>
          <th class="w-14">WEDNESDAY</th>
          <th class="w-14">THURSDAY</th>
          <th class="w-14">FRIDAY</th>
          <th class="w-14">SATURDAY</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="weekRow : ${rows}">
          <td th:each="day : ${weekRow}" class="table-cell text-start align-text-top">
            <div th:if="${day != ''}" class="d-flex flex-column ">
              <span class="small" th:text="${day}"></span><br>
              <div th:with="targetDate=${year + '-' + month + '-' + day}">
                <div th:each="event : ${events}">
                  <div th:with="eventDateFormatted=${#dates.format(event.eventDetail.eddate, 'yyyy-MM-dd')}"
                    class="d-flex flex-column  align-items-center">
                    <div th:if="${eventDateFormatted == targetDate}">
                      <!-- Button for displaying event name -->
                      <a th:href="@{/PEventDetail(eventid=${event.eventid}, edid=${event.eventDetail.edid})}"><button
                          type="button" class="btn btn-primary btn-sm my-1" th:text="${event.eventname}"></button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <script th:src="@{javascript/event-calendar.js}"></script>
  <footer class="d-flex justify-content-center">
    <p>&copy; <span id="currentYear"></span> UltimateNav: Frisbee Event Discovery System. All rights reserved.</p>
</footer>
<script>document.getElementById('currentYear').textContent = new Date().getFullYear();</script>
</body>

</html>