<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{stylesheets/home.css}" />
  <title>UltimateNav</title>
</head>

<body>
  <nav>
    <div class="nav__logo">
      <a th:href="@{/PlayerEvent}" class="logo"><img th:src="@{images/UltimateNavLogo.png}" alt="ultimatenav icon"></a>
      </div>
    <ul class="nav__links">
      <li class="link"><a href="#">Home</a></li>
      <li class="link"><a href="#">About Us</a></li>
      <li class="link"><a href="#">Contact</a></li>
      <li class="link"><a th:href="@{/SignIn}" class="nav__btn">Sign In</a></li>
    </ul>
  </nav>
  <section class="container">
    <div class="content__container">
      <h1>
        Ultimate Frisbee<br />
        <span class="heading__1">Event Discovery</span><br />
        <span class="heading__2">"Keep the disc flying"</span>
      </h1>
      <p>
        Ultimate Frisbee is a team sport played with a flying disc, combining elements of soccer, football, and
        basketball. Players aim to score points by passing the disc to teammates and advancing it to the opposing team's
        end zone. It's a non-contact and self-officiated game that values sportsmanship. "ULTIMATENAV" likely refers to
        a digital platform for Ultimate Frisbee, organized by KPT CAKRAWALA, facilitating event registration for
        players. ULTIMATENAV streamlines the process, allowing players to easily sign up for any events..
      </p>
    </div>
    <div class="image__container">
      <img th:src="@{images/frisbee_image1.jpg}" alt="header" />
      <img th:src="@{images/frisbee_image2.jpg}" alt="header" />
      <div class="image__content">
        <ul>
          <li>Checkout for our new event!</li>
          <li>hone your skills in the world of frisbee here!</li>
        </ul>
      </div>
    </div>
  </section>
</body>

</html>